.menu-sobre {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 900px;
    height: 500px;
    z-index: 501;

    display: flex;
    flex-direction: column;
    align-items: center;
    color: #7a4d20;
    background-color: #d39e6a;
    border: 28px solid #976b3f;
    border-radius: 40px;

    padding: 50px;
    gap: 10px;

    h2 {
        font-size: 30px;
    }

    .buttonClose{
        position: absolute;
        top: -10px;
        right: -10px;

        width: 50px;
        height: 50px;
        background-color: #6b4e30;
        border: none;
        border-radius: 30px;
        color: #d39e6a;
        font-size: 30px;
        cursor: pointer;
        transition: all 0.3s ;
    }
    .buttonClose:hover{
        background-color: #8b6a46;
    }
}

@media (max-width: 768px) {
    .menu-sobre {
        border: 15px solid #976b3f;
    }
}